.backButton{
  border: none;
  background: green;
  color: white;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.detailsButton{
  border: none;
  background: rgb(4, 62, 113);
  color: white;
  padding: 5px;
  border-radius: 6px;
  cursor: pointer;
}

.container{
  display: grid;
  grid-template-columns: 14.25% 14.25% 14.25% 14.25% 14.25% 14.25% 14.25%;
}

.postContainer{
  /* border: 2px solid black; */
  padding: 5%;
  margin: 2%;
  border-radius: 15px;
  background: aliceblue;
  text-align: left;
}

.detailsContainer{
  /* border: 2px solid black; */
  padding: 2%;
  margin: 2%;
  border-radius: 15px;
  background: aliceblue;
  text-align: left;
  display: flex;
}

.headline{
  font-style: italic;
  font-weight: 700;
  margin: 1%;
}

.searchBar{
    width: 95%;
    margin: 1%;
    padding: 10px;
    border: 2px solid;
}